.product {
  $this: &;
  &__row {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    #{$this}__image {
      height: 100px;
      padding: 5px;
    }
    #{$this}__title {
      line-height: 1;
      margin-bottom: 10px;
    }
    #{$this}__price {
      justify-content: start;
    }
    #{$this}__image__overlay {
      top: -50px;
      right: -110px;
      height: 20px;
      font-size: 10px;
    }
    #{$this}__content {
      padding-right: 20px;
    }
  }
  &__controls {
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &__remove {
    transition: 0.3s;
    font-size: 18px;
    &:hover {
      color: #ff4343;
    }
  }
  &__image {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    padding: 30px;
    position: relative;
    img {
      height: 100%;
      object-fit: contain;
    }
    &__overlay {
      position: absolute;
      text-transform: uppercase;
      font-size: 12px;
      color: #fff;
      width: 200px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(225, 44, 61);
      transform: rotate(45deg);
      transform-origin: left top;
      top: -40px;
      right: -100px;
    }
  }
  &__content {
    width: 100%;
    padding: 15px 0;
  }
  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0px 10px;
    font-weight: 600;
  }
  &__price {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &__old {
      font-size: 14px;
      text-decoration: line-through;
      opacity: 0.5;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 50px 30px;
    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 30px;
      max-height: 600px;
      img {
        height: 100%;
        object-fit: contain;
      }
    }
    &__heart {
      margin-left: auto;
      font-size: 24px;
    }
    &__title {
      font-size: 24px;
      font-weight: 500;
      line-height: 1;
      margin-bottom: 30px;
    }
    &__price {
      font-size: 24px;
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
      &.sale {
        color: rgb(225, 44, 61);
      }
      &__old {
        text-decoration: line-through;
        opacity: 0.5;
        font-size: 14px;
        color: #000;
      }
    }
    &__discount {
      font-size: 14px;
      padding: 0px 10px;
      background: rgb(225, 44, 61);
      color: #fff;
      border-radius: 30px;
    }
    &__description {
      &__title {
        margin-top: 30px;
        font-size: 18px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding: 10px 0;
        text-transform: uppercase;
        text-align: center;
      }
      &__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        background: #f0f0f0;
        padding: 15px;
        gap: 15px;
        line-height: 1;
        &:nth-child(2n) {
          background: #fff;
        }
      }
    }
    &__buy {
      display: flex;
      align-items: center;
      gap: 10px;
      &__input {
        width: 150px;
      }
      &__btn {
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
}
